#search{
	display: inline;
}

.line{
	display: block;
	/*border: 1px solid #F00;*/
	height: 25px;
	margin: 1em;
}
#login,#exit{
	float: right;
}

#add,#delete{
	float: left;
}
#delete{
	margin-left:4em;
}

#submit{
	margin-left: 5px;
}

#borrow,#return{
	float:left;
}
#return{
	margin-left: 5em;
}


#content{
	border-style: outset;
	margin: 10 auto;
	width:30%;
	overflow:auto;
}

button{
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
button:hover {
    background-color: grey;
    color: white;
}